################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/fdf20bf8-f23d-4df1-aefc-ddee22aaa216.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/fc75a848-be9e-4ae6-9035-92f5f0697c2d.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/f8b39d49-bb57-4380-b522-0ca6dc474b91.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/f76d0318-9f01-4151-bfb2-8861be06b153.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/f2bac24d-4f89-4424-bc59-ec40d591d26f.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/f15d6883-3bdb-4f2a-a134-871999060452.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/ed20eb83-a5c8-4c67-861c-527fa7e67a6c.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/e88c21f5-8242-4e6f-b915-a1cc335fcb97.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/dab9b5ad-9e98-477c-a2f9-b09864419809.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/da286e74-2b49-4737-9929-2f8ceb2d755c.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/d7d47ace-5b16-44a7-8e01-b5ba8568b6be.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/d652ecc6-8aab-41ee-b141-ae0c74847443.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/d08cfb81-aacf-4093-9b5d-d908f5a55311.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/cfa9e321-aaf3-48a2-85f5-9f987c921650.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/ceba44e8-ec14-4807-9691-3a8116cb1e7d.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/cb8bc577-e8bf-43fe-834c-4a060d93958f.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/ca8db60e-362e-4913-8175-2560e5ccac82.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/c585b857-4bbd-47cf-94e9-9ff78877db91.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/c4fc37b0-3746-4c23-bcb3-bdd35c754dab.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/c005187a-9210-426d-9219-5162259a0f72.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/bfda8cb8-1aed-4e81-86b0-760dfa443f0c.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/b7f92e67-44d0-40b3-9055-060b44c735bc.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/a632a89b-a32b-4da3-bf10-b9fa1a757e45.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/a5398ebe-4864-4773-a7be-b848c1c0664e.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/a4ce4160-62c4-4728-bebd-c380f5c640c7.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/a3c244da-8f6d-4e66-8193-ffe53fdbf811.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/a35f5db6-697b-4a29-8b6f-156e3ad84bee.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/a035d744-5a69-4f51-83a3-61fe21278d46.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/9f5abc23-6eba-42db-a9e8-a61efa1c67bc.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/9d7b0c09-506b-4def-b9c4-e357c064bec5.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/9d434d76-518c-4c8a-aa2f-44ccba01eaad.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/97a01837-7204-4abb-9c60-71b5052a4212.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/8df37bab-106c-466f-a798-790150d9dd4e.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/8c1bea14-66f5-4f06-85ef-7090637d51f6.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/8885b7d7-4219-4f5f-b300-58810d76b9b4.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/87d9630a-9913-45ce-9a9a-c24403b68c86.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/86ec6b1b-2b37-458d-9cbd-a6cbdf74419d.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/8343b9ff-89db-4e08-8c4c-19226d49d59a.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/80cf1b9a-4619-47e8-be5d-7c81f12378a1.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/7bdc8676-b713-42c9-89ce-aa53d580fbb5.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/7bcb8617-8cce-4dbc-ba0d-fd7b38920cda.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/77cb28a9-11c5-4523-9ed3-aad2d8f996ec.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/770fbf1c-7967-47e1-902c-c1eb001196b8.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/7175261f-0456-4ac0-a42b-e40f795ef288.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/6b40b0aa-2369-462a-9e93-0efdf0a943dc.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/67f5d009-fb14-4380-8b95-8729c98caac2.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/63bac854-88bb-4f5a-aedc-604856c76056.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/5ceda2b8-457c-439a-91c8-db44c3fea41d.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/5af1d0da-c6db-4772-afd2-79bd0fddad9c.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/5a4435b3-f932-4a3e-8164-787c9d2adff1.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/59397a1d-7838-4a97-9ed6-54028926db7f.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/58967bf2-f112-4838-b5ca-257d7806e600.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/57503ff7-6a3e-4901-a5ee-a32065cc0f52.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/4a6585af-749a-43f0-9983-9a45b27c6e12.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/4a55f760-efa5-45ed-b07e-08c144ab8c2a.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/3c4b61f1-b579-43b5-a510-e73cd765f43b.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/390abc4f-96dd-4ecc-91ba-c6e8e4c51f04.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/36a9efda-82d2-4ebb-af6b-a7be6da5033a.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/32bef6a8-e8ff-4fb3-9e29-67feff7a761d.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/3169dce4-4039-46eb-bf95-2781f4aa25c6.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/269f31b8-936c-49e0-af0b-82220ed03eed.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/24737d23-931c-4d1c-92b0-2bb6f80e6214.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/2464b0ac-f997-4325-b42b-4e6120c51291.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/2265e3bb-a4bf-4ba4-9b26-8f538d199489.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/21d05f4c-48ef-483b-bfff-fc8a73079b61.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/20c5b5d4-fb9e-4e4e-8a70-aad1db23e912.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/20834b81-9539-48e0-815e-3dd1494e2583.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/204b8f16-dadc-4059-b8c5-7d486ce937c0.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/1c7ab213-2a77-4ee1-9458-c668927686c6.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/18ad4462-d850-4833-a17f-34c9c1a5f701.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/173f82d0-d6b6-44c5-9447-a088650217db.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/1619043c-836f-4d1f-bdb4-63c59626574a.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/138eace7-e979-41b0-9f80-2a7bb539486d.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/11fbf687-af25-40b3-be69-6579647c6db4.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/10d9a062-6bdb-48f4-8057-5ed032fa4d36.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/0c7e380f-f994-4016-8a96-45e6269abcf3.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/0835f6bc-5311-48af-8a28-3d08309e2760.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/076cc139-81d0-48d9-8f8f-ab03afd42373.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/05122096-adb1-4f15-b37f-bda71a11f01e.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/04c66e1d-116c-495b-86a6-ffdc960b1bde.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/035624a0-4279-489c-b532-4c7c5e8a7834.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/93f95c3d-4a5f-48a8-ba4b-99c4adf050f9.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/75a2cbbe-2c99-4292-b591-d728f1ee6d51.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/70c4964b-ffc8-4d78-99bf-180c4be59411.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/1e713d78-2f43-4560-8871-6be7c07c0bec.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/1a63bef7-f1c4-4b54-8899-b8f755146d93.csv
/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/01633d13-4863-4ad8-9fe6-a9ca5ed89862.csv
