################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RCG.WPF/bin/Debug/netcoreapp3.1/Resources/UploadedFiles/fdf20bf8-f23d-4df1-aefc-ddee22aaa216.csv
